<!DOCTYPE html>
<html lang="en" ng-app="AppModule" >
    <title><%= title %></title>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.min.js"></script>
        
        <script type="text/javascript" src="/javascripts/main.js"></script>
    </head>

    <body ng-controller="AppCtrl as appCtrl">
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/"><%= title %></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#!view"><i class="fa fa-comment"></i> View</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="container">
            <!-- <div class="jumbotron">
                <h1>Demo html</h1>
                <p>Demo bootstrap, angularjs, nodejs.</p>
            </div> -->

            <div id="main">
                <div ng-view></div>
            </div>
        </div>

        <footer class="text-center">
            <nav class="navbar navbar-default">
                <p><%= title %></p>
                <p>Author <a href="qthuat@gmail.com">thuattq</a></p>
            </nav>
        </footer>

        <!-- Template -->
        <script type="text/ng-template" id="/pageLogin.html">
          <div class="panel panel-default" ng-controller="LoginCtrl as loginCtrl">
              <div class="panel-heading">Login form</div>
              <div class="panel-body">
                  <form id="frmLogin">
                      <div class="form-group">
                          <label for="email">User</label>
                          <input id="iUser" type="text" class="form-control" ng-model="loginCtrl.userName"/>
                      </div>
                      <div class="form-group">
                          <label for="pwd">Pass</label>
                          <input id="iPass" type="text" class="form-control" ng-model="loginCtrl.pass"/>
                      </div>

                      <button type="button" class="btn btn-default" ng-click="loginCtrl.login()" id="btnLogin">
                          <span class="glyphicon glyphicon-log-in"></span> Login
                      </button>
                  </form>
              </div>
              <div class="panel-body">
                  <div class="alert alert-danger" ng-show="loginCtrl.isError">
                      <strong>Error!</strong> {{loginCtrl.errorMsg}}.
                  </div>
              </div>
          </div>      
        </script>
        
        <script type="text/ng-template" id="/tasksView.html">
          <div class="panel panel-default" ng-controller="TasksViewCtrl as tasksViewCtrl">
              <div class="panel-heading">View form</div>
              <div class="panel-body">
                  <form class="form-horizontal" id="frmView">
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="note">User</label>
                          <div class="col-sm-10">
                              <input id="iUserSearch" type="text" class="form-control"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="note">Complete Date</label>
                          <div class="col-sm-10">
                              <input id="iCDateSearch" type="text" class="form-control"/>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-10">
                              <button type="button" class="btn btn-default" id="btnSearch">
                                  <span class="glyphicon glyphicon-search"></span> Search
                              </button>
                          </div>
                      </div>
                  </form>
                  <br/>
                  <div class="table-responsive">  
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <!-- -->
                                  <th>Ngày nhập</th>
                                  <th>Phương tiện</th>
                                  <th>Đơn vị quản lý</th>
                                  <th>Quy trình</th>
                                  <th>Nội dung sửa chữa</th>
                                  <th>Thời gian bắt đầu</th>
                                  <th>Thời gian kết thúc</th>
                                  <th>Thời gian thực tế</th>
                                  <th>Thời gian chờ vật tư</th>
                                  <th>Số Km</th>
                                  <th>Ghi chú</th>
                                  <!-- -->
                                  <th><input type="checkbox"/></th>
                              </tr>
                          </thead>
                          <tbody ng-repeat="task in tasks | filter: search">
                              <tr>
                                  <th>$index</th>
                                  <!-- -->
                                  <th><a href="#/{{task._id}}">{{task.create_date}}</a></th>
                                  <th>{{task.vehicle}}</th>
                                  <th>{{task.own_org}}</th>
                                  <th>{{task.process_type}}</th>
                                  <th>{{task.tast_content}}</th>
                                  <th>{{task.begin_time}}</th>
                                  <th>{{task.end_time}}</th>
                                  <th>{{task.task_real_hour}}</th>
                                  <th>{{task.wait_material_hour}}</th>
                                  <th>{{task.km}}</th>
                                  <th>{{task.note}}</th>
                                  <!-- -->
                                  <th><input type="checkbox"/></th>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <form class="form-horizontal" id="frmAction">
                      <div class="form-group">
                          <div class="col-sm-offset-9 col-sm-10">
                              <button type="button" class="btn btn-default" id="btnAdd" >
                                  <span class="glyphicon glyphicon-download-alt"></span> Add new
                              </button>
                              <button type="button" class="btn btn-default" id="btnEdit">
                                  <span class="glyphicon glyphicon-trash"></span> Remove
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>      
        </script>
        
        <script type="text/ng-template" id="/taskEdit.html">
          <div class="panel panel-default" ng-controller="TaskEditCtrl as taskEditCtrl">
              <div class="panel-heading">[Edit] | [Add new] form</div>
              <div class="panel-body">
                  <form class="form-horizontal" id="frmEdit" >
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="action">Action</label>
                          <div class="col-sm-10">
                              <input id="iAction" type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="staff">Staff</label>
                          <div class="col-sm-10">
                              <input id="iStaff" type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="cDate">Date complete</label>
                          <div class="col-sm-10">
                              <input id="iCDate" type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="control-label col-sm-2" for="note">Note</label>
                          <div class="col-sm-10">
                              <input id="iNote" type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">        
                          <div class="col-sm-offset-2 col-sm-10">
                              <button type="button" class="btn btn-default" id="btnAdd" >
                                  <span class="glyphicon glyphicon-ok"></span> OK
                              </button>
                              <button type="button" class="btn btn-default" id="btnEdit">
                                  <span class="glyphicon glyphicon-remove"></span> Cancel
                              </button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>      
        </script>
    </body>
</html>